*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Handjet", cursive;
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Outfit", sans-serif;
}
html,
body {
  width: 100%;
  font-size: 18px;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/*^ leftbox styling begins */

main .leftbox {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  gap: 1rem;
  padding: 2rem;
  padding-bottom: 2.25rem;
  width: 14rem;
  padding-top: 1rem;
  border-radius: 1.5rem;
  position: relative;
  left: 1rem;
  color: hsl(0, 0%, 100%);
}
/* score in circle */
main .leftbox div {
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  padding: 1.75rem;
  width: 75%;
}
/* heading */
main .leftbox div h1 {
  font-size: 2.5rem;
}
/* bottom paragraph */
main .leftbox div p {
  color: hsla(241, 100%, 89%, 0.619);
  font-size: 11px;
}
.colorfade {
  color: hsl(241, 100%, 89%);
}
.fontsize {
  font-size: 13px;
}

/*^ leftbox styling ends */

/* ^ rightbox styling begins */
main .rightbox {
  width: 16rem;
  gap: 1rem;
  padding: 1rem 1.5rem 2rem 3.5rem;
  position: relative;
  right: 1rem;
  z-index: -1;
  font-size: 14px;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

/* summary style */
main .rightbox .heading {
  font-size: 18px;
  font-weight: 800;
  color: hsl(224, 30%, 27%);
  transform: translateX(-3rem);
}

/* scores box style */
main .rightbox .scores {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* each score box style */
main .rightbox .scores .flexrow {
  display: flex;
  justify-content: space-between;
  width: 11rem;
  padding: 0.5rem;
  font-weight: 700;
  border-radius: 5px;
}
/* reaction */
main .rightbox .scores .flexrow:nth-child(1) {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%);
}
/* memory */
main .rightbox .scores .flexrow:nth-child(2) {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: hsl(39, 100%, 56%);
}
/* verbal */
main .rightbox .scores .flexrow:nth-child(3) {
  background-color: hsla(166, 100%, 37%, 0.1);
  color: hsl(166, 100%, 37%);
}
/* visual */
main .rightbox .scores .flexrow:nth-child(4) {
  background-color: hsla(234, 85%, 45%, 0.1);
  color: hsl(234, 85%, 45%);
}
main .rightbox .scores .flexrow div {
  display: flex;
  gap: 0.5rem;
}
/* scores on right */
main .rightbox .scores .flexrow .rightcontent {
  color: hsl(224, 30%, 27%);
}
main .rightbox .scores .flexrow .rightcontent span {
  color: hsla(224, 30%, 27%, 0.479);
  font-weight: 600;
}

/* continue button */
main .rightbox .scores + div {
  padding: 0.65rem;
  width: 11rem;
  border-radius: 1.5rem;
  background-color: hsl(224, 30%, 27%);
  color: white;
  cursor: pointer;
}

/* box shadow */
main .leftbox::before {
  content: "";
  width: 28rem;
  height: 100%;
  position: absolute;
  inset: 0;
  border-radius: 1.5rem;
  z-index: -2;
  box-shadow: 5px 15px 25px hsl(224, 65%, 93%);
}
/* ^leftbox styling ends */

/* mobile view */

@media (max-width: 525px) {
  /* ^main block */
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  /* ^ leftbox */
  main .leftbox {
    width: 100%;
    border-radius: 0;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    position: static;
    padding: 2rem 3.5rem;
  }
  /* circle */
  main .leftbox div {
    padding: 1.5rem;
    width: 50%;
  }
  .fontsize {
    font-size: 15px;
    line-height: 20px;
  }

  main .leftbox::before {
    content: "";
    position: static;
    display: none;
  }

  /*^ rightbox */
  main .rightbox {
    width: 100%;
    position: static;
    padding: 1rem;
    gap: 1.5rem;
  }
  main .rightbox > * {
    width: 90%;
  }
  /* heading - summary */
  main .rightbox .heading {
    transform: translate(0);
    text-align: left;
  }
  main .rightbox .scores {
    gap: 1rem;
  }
  /* each score */
  main .rightbox .scores .flexrow {
    width: 100%;
    font-size: 16px;
    padding: 1rem;
  }
  /* continue button */
  main .rightbox .scores + div {
    width: 90%;
    padding: 1rem;
  }
}
