* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html,
body {
  width: 100%;
  background-color: hsl(212, 45%, 89%);
  font-family: "Handjet", cursive;
  font-family: "Outfit", sans-serif;
}

.container {
  width: 14rem;
  background-color: white;
  margin: 5em auto;
  padding: 0.75rem;
  padding-bottom: 1.75em;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  text-align: center;
  color: hsl(218, 44%, 22%);
}
.container img {
  width: 100%;
  border-radius: 12px;
}
.container p {
  font-size: 12px;
  color: hsl(220, 15%, 55%);
}
.padding {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
@media (max-width: 375px) {
  .container {
    min-width: 85%;
    padding: 1rem;
    padding-bottom: 2em;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  .container p {
    font-size: 17px;
  }
  .container h4 {
    font-size: 22px;
  }
}
